<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--Script-->
    <script>
   function Alert()
{
   alert("You have successfully registered,Welcome to The Inside!");
}
  </script>
    <!--Script-->
  </head>
  <body>
  <header id="home">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark pt-4">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold text-danger text-uppercase" >The Inside</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav ">
                  <li class="nav-item ">
                    <a class="nav-link active customnav" aria-current="page" href="http://localhost:4000/">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle customnav" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Menu
                    </a>
                    <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item text-secondary" href="http://localhost:4000/menu">Choose Menu</a></li>
                      <li data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" arial-controls="offcanvasTop" ><a class="dropdown-item text-secondary" href="#">Order Now</a></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link customnav" href="http://localhost:4000/events">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link customnav" href="http://localhost:4000/galleries">Galleries</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link customnav" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link customnav" href="#contact">Contact</a>
                  </li>
                  
                  
                </ul>
              </div>
            </div>
          </nav>
      </div>
  </header>

<div class="container-fluid  custombg mt-1 ">
  <p id="animation">Welcome to The Inside Restaurant</p>
      <div class="container pt-5 pb-5 text-center">
          <h1 class="fw-bold mt-5">Treat Yourself</h1>
          <p class="subhead fs-5 mb-5 text-white-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-danger fw-bold text-uppercase" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Book A Table
</button>
<!--OffcanvasTop-->
<div class="offcanvas offcanvas-top bg-dark" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset bg-secondary" data-bs-dismiss="offcanvas" arial-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form class="row gx-3 gy-2 align-items-center" action="http://localhost:4000/order" method="post">
      <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeInputName">Name</label>
        <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter name...">
      </div>
      <div class="col-sm-3">
        <label class="visually-hidden" ></label>
        <div class="input-group">
          <div class="input-group-text text-danger"><i class="bi bi-telephone-fill"></i></div>
          <input type="tel" class="form-control"  placeholder="phone number">
        </div>
      </div>
      <div class="col-sm-3">
        <label class="visually-hidden"></label>
        <div class="input-group">
          <div class="input-group-text text-danger"><i class="bi bi-geo-alt-fill"></i></div>
          <input type="text" class="form-control" placeholder="location">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>
      
    </form>
    <div class="col-auto">
      <button  class="btn btn-danger  mt-5 float-start"><a href="tel:0501336536">Call us</a></button>
    </div>
  </div>
</div>
<!--OffcanvasTop-->
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-primary p-1">
        <!--Forms-->
        <form class="row gx-3 gy-2 align-items-center" action="http://localhost:4000/register" method="post">
          <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputName">Name</label>
            <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter name...">
          </div>
          <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
            <div class="input-group">
              <div class="input-group-text text-danger">@</div>
              <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Username">
            </div>
          </div>
          <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeSelect">Preference</label>
            <select class="form-select" id="specificSizeSelect">
              <option selected>Table number...</option>
              <option value="1">Table 1</option>
              <option value="2">Table 2</option>
              <option value="3">Table 3</option>
              <option value="4">Table 4</option>
              <option value="5">Table 5</option>
              <option value="6">Table 6</option>
              <option value="7">Table 7</option>
              <option value="8">Table 8</option>
              <option value="9">Table 9</option>
              <option value="10">Table 10</option>
            </select>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
              <label class="form-check-label text-light" for="autoSizingCheck2">
                Remember me
              </label>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-danger" >Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div>
    </div>
  </div>
</div>    
      </div>
  </div>
  <section class="container-fluid mt-4">
    <h3 class="fs-5 fw-light text-center">Breakfast</h3>
<!--Tables-01-->
<table class="table table-dark table-hover table-bordered">
    <thead>
      <tr>
        <td id="berry" class="col-sm-3">Berries</th>
        <td class="col-sm-3">$12</td>
        <td class="col-sm-3">Cold Cereal</td>
        <td class="col-sm-3">$13</td>
     
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-3">Cottage Cheese</th>
          <td class="col-sm-3">$12</td>
          <td class="col-sm-3">Eggs</td>
          <td class="col-sm-3">$8</td>
      </tr>
      <tr>
        <td class="col-sm-3">Green Tea</th>
        <td class="col-sm-3">$14</td>
        <td class="col-sm-3">Oatmeal</td>
        <td class="col-sm-3">$12</td>
      </tr>
      <tr>
        <td class="col-sm-3">Peanut Butter</th>
        <td class="col-sm-3"> $11</td>
        <td class="col-sm-3">Tom Brown</td>
        <td class="col-sm-3">$8</td>
      </tr>
    </tbody>
  </table>
<!--Tables-01-->
    </section>

    <section class="container-fluid mt-4">
      <h3 class="fs-5 fw-light text-center">Salad</h3>
  <!--Tables-01-->
  <table class="table table-dark table-hover table-bordered">
      <thead>
        <tr>
          <td class="col-sm-3">Fruit Salad</th>
          <td class="col-sm-3">$12</td>
          <td class="col-sm-3">Dessert Salad</td>
          <td class="col-sm-3">$13</td>
       
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-sm-3">Broccoli Rabe</th>
            <td class="col-sm-3">$12</td>
            <td class="col-sm-3">Caesar Salad</td>
            <td class="col-sm-3">$8</td>
        </tr>
        <tr>
          <td class="col-sm-3">Chicken Salad</th>
          <td class="col-sm-3">$14</td>
          <td class="col-sm-3">Cripsy Salad</td>
          <td class="col-sm-3">$12</td>
        </tr>
        <tr>
          <td class="col-sm-3">Green Salad</th>
          <td class="col-sm-3"> $11</td>
          <td class="col-sm-3">Dinner Salad</td>
          <td class="col-sm-3">$8</td>
        </tr>
      </tbody>
    </table>
  <!--Tables-->
      </section>
  
      <section class="container-fluid mt-4">
        <h3 class="fs-5 fw-light text-center">Rice Bowl</h3>
    <!--Tables-01-->
    <table class="table table-dark table-hover table-bordered">
        <thead>
          <tr>
            <td class="col-sm-3">Butter Chicken Rice</th>
            <td class="col-sm-3">$12</td>
            <td class="col-sm-3">Chicken Briyani</td>
            <td class="col-sm-3">$13</td>
         
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-sm-3">Briesd Beef Rice</th>
              <td class="col-sm-3">$12</td>
              <td class="col-sm-3">Rice Bowl</td>
              <td class="col-sm-3">$8</td>
          </tr>
          <tr>
            <td class="col-sm-3">Veg Briyani</th>
            <td class="col-sm-3">$14</td>
            <td class="col-sm-3">Plain Rice</td>
            <td class="col-sm-3">$12</td>
          </tr>
          <tr>
            <td class="col-sm-3">Fried Rice & Grilled Chicken</th>
            <td class="col-sm-3"> $11</td>
            <td class="col-sm-3">Fried Rice & Chicken Sauce</td>
            <td class="col-sm-3">$8</td>
          </tr>
        </tbody>
      </table>
    <!--Tables-03-->
        </section>
    
    <!--Tables-->
  </section>
  
  <section class="container-fluid mt-4">
    <h3 class="fs-5 fw-light text-center">Crezy Beef</h3>
<!--Tables-01-->
<table class="table table-dark table-hover table-bordered">
    <thead>
      <tr>
        <td class="col-sm-3">BBQ Beef</th>
        <td class="col-sm-3">$12</td>
        <td class="col-sm-3">Beef Fries</td>
        <td class="col-sm-3">$13</td>
     
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-3">Beef Burger</th>
          <td class="col-sm-3">$12</td>
          <td class="col-sm-3">Beef Sauce</td>
          <td class="col-sm-3">$8</td>
      </tr>
      <tr>
        <td class="col-sm-3">Beef Grilled</th>
        <td class="col-sm-3">$14</td>
        <td class="col-sm-3">Beef Meal</td>
        <td class="col-sm-3">$12</td>
      </tr>
      <tr>
        <td class="col-sm-3">Beef Meat Steak</th>
        <td class="col-sm-3"> $11</td>
        <td class="col-sm-3">Beef Bogorok</td>
        <td class="col-sm-3">$8</td>
      </tr>
    </tbody>
  </table>
<!--Tables-04-->
    </section>

<!--Tables-->
</section>
  
<section class="container-fluid mt-4">
  <h3 class="fs-5 fw-light text-center">Chicken</h3>
<!--Tables-01-->
<table class="table table-dark table-hover table-bordered">
  <thead>
    <tr>
      <td class="col-sm-3">Finger Chicken</th>
      <td class="col-sm-3">$12</td>
      <td class="col-sm-3">Chicken Grilled</td>
      <td class="col-sm-3">$13</td>
   
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-sm-3">Chicken Grillled With Butter</th>
        <td class="col-sm-3">$12</td>
        <td class="col-sm-3">Chicken Wrap</td>
        <td class="col-sm-3">$8</td>
    </tr>
    <tr>
      <td class="col-sm-3">Chicken Marsala</th>
      <td class="col-sm-3">$14</td>
      <td class="col-sm-3">Chicken Francese</td>
      <td class="col-sm-3">$12</td>
    </tr>
    <tr>
      <td class="col-sm-3">Chicken Prame</th>
      <td class="col-sm-3"> $11</td>
      <td class="col-sm-3">Chips & Grilled Chicken</td>
      <td class="col-sm-3">$8</td>
    </tr>
  </tbody>
</table>
<!--Tables-05-->
  </section>

<!--Tables-->
</section>
  
<section class="container-fluid mt-4">
  <h3 class="fs-5 fw-light text-center">Cake</h3>
<!--Tables-01-->
<table class="table table-dark table-hover table-bordered">
  <thead>
    <tr>
      <td class="col-sm-3">Black Forest Gateau</th>
      <td class="col-sm-3">$12</td>
      <td class="col-sm-3">Pineaple Cake</td>
      <td class="col-sm-3">$13</td>
   
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-sm-3">Eggles Truffle Cake</th>
        <td class="col-sm-3">$12</td>
        <td class="col-sm-3">Coffee Cake With Mocha Frosting</td>
        <td class="col-sm-3">$8</td>
    </tr>
    <tr>
      <td class="col-sm-3">Fudgy Chocolate Cake</th>
      <td class="col-sm-3">$14</td>
      <td class="col-sm-3">Cherry Muffins</td>
      <td class="col-sm-3">$12</td>
    </tr>
    <tr>
      <td class="col-sm-3">Mango Meringue Cake</th>
      <td class="col-sm-3"> $11</td>
      <td class="col-sm-3">Red Velvet</td>
      <td class="col-sm-3">$11</td>
    </tr>
  </tbody>
</table>
<!--Tables-->
  </section>

 <!--Newsletter-->
 <section class="newsletterbg">
  <div class="container mt-5">
    <form action="" class="newsletter">
      <h2>Subscribe Our Newsletter & Join US</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="newsletter-box">
        <i class="bi bi-envelope-fill"></i>
          <input class="emailbox" type="email" name="" value="" placeholder="Enter your email id">
          <a href = "mailto: abc@example.com"><button type="button" name="button" class="bg-danger">Subscribe</button></a>
      </div>
  </form>
  </div>
</section>

<!--About Section-->
<section id="about" class="aboutbg">
  <div class="container-fluid">
    <div class="container">
      <!--Section heading-->
      <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">About us</h2>
    <h2 class="h1-responsive font-weight-bold  text-center text-danger my-4 customh1">Welcome to the Inside</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">We show men how to live a life that is more engaged. Whether it be fashion, food, drink, travel, grooming, or the outdoors, we bring authenticity and understanding to it all. As our name, The Manual, implies, we offer a suite of expert guides on a wide range of topics, from how to tie a bow-tie to how to cook a steak.</p>
      <!--Cards-->
     <!--Grid-->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <img src="../assets/Fairmon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CEO/Manager</h5>
            <div class=" d-inline text-center ">

              <!-- Facebook -->
              <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook p-2 text-light"></i></a>
              <!-- Twitter -->
              <a href="https://www.twitter.com" target="_blank"> <i class="bi bi-twitter p-2 text-light"></i></a>
              <!-- Whatsapp-->
              <a href="https://www.whatsapp.com" target="_blank"><i class="bi bi-whatsapp p-2 text-light"></i></a>
              <!--Youtube -->
              <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube p-2 text-light"></i></a>
              <!--Instagram-->
              <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram p-2 text-light"></i></a>
    
            </div>
            <br>
            <br>
            <a href="tel:0553311567" class="btn btn-danger">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
       <div class="card">
          <img src="../assets/Fairmon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Secretary</h5>
            <div class=" d-inline text-center ">

              <!-- Facebook -->
              <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook p-2 text-light"></i></a>
              <!-- Twitter -->
              <a href="https://www.twitter.com" target="_blank"> <i class="bi bi-twitter p-2 text-light"></i></a>
              <!-- Whatsapp-->
              <a href="https://www.whatsapp.com" target="_blank"><i class="bi bi-whatsapp p-2 text-light"></i></a>
              <!--Youtube -->
              <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube p-2 text-light"></i></a>
              <!--Instagram-->
              <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram p-2 text-light"></i></a>
    
            </div>
            <br>
            <br>
            <a href="tel:0553311567" class="btn btn-danger">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card">
          <img src="../assets/Fairmon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pattron</h5>
            <div class=" d-inline text-center ">

              <!-- Facebook -->
              <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook p-2 text-light"></i></a>
              <!-- Twitter -->
              <a href="https://www.twitter.com" target="_blank"> <i class="bi bi-twitter p-2 text-light"></i></a>
              <!-- Whatsapp-->
              <a href="https://www.whatsapp.com" target="_blank"><i class="bi bi-whatsapp p-2 text-light"></i></a>
              <!--Youtube -->
              <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube p-2 text-light"></i></a>
              <!--Instagram-->
              <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram p-2 text-light"></i></a>
    
            </div>
            <br>
            <br>
            <a href="tel:0553311567" class="btn btn-danger">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</section>

<!--Section: Contact v.2-->
<section id="contact" class="mb-4 mt-0  contactbg">
<div class="container">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

        <div class="row">

          <!--Grid column-->
          <div class="col-md-9 mb-md-0 mb-5">
              <form id="contact-form">
  
                  <!--Grid row-->
                  <div class="row">
  
                      <!--Grid column-->
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="name" name="name" class="form-control bg-dark text-light">
                              <label for="name" class="">Your name</label>
                          </div>
                      </div>
                      <!--Grid column-->
  
                      <!--Grid column-->
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="email" name="email" class="form-control bg-dark text-light">
                              <label for="email" class="">Your email</label>
                          </div>
                      </div>
                      <!--Grid column-->
  
                  </div>
  
                  <!--Grid row-->
                  <div class="row">
                      <div class="col-md-12">
                          <div class="md-form mb-0">
                              <input type="text" id="subject" name="subject" class="form-control bg-dark text-light">
                              <label for="subject" class="">Subject</label>
                          </div>
                      </div>
                  </div>
                  <!--Grid row-->
  
                  <!--Grid row-->
                  <div class="row">
  
                      <!--Grid column-->
                      <div class="col-md-12">
  
                          <div class="md-form">
                              <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea bg-dark text-light"></textarea>
                              <label for="message">Your message</label>
                          </div>
  
                      </div>
                  </div>
                  <!--Grid row-->
  
                  <div class="text-center text-md-left">
                   <button class="btn btn-danger" type="submit">send</button>
                </div>
                <div class="status"></div>
              </form>
  
             
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
              <i class="bi bi-geo-alt-fill"></i>
                    <p>117 Yaa Asantewa Rd, Kumasi, Ghana</p>
                </li>

                <i class="bi bi-telephone-fill"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <i class="bi bi-envelope-fill"></i>
                    <p>contact@theinside.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
  </div>
</section>
<!--Section: Contact v.2-->

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div class="bg-danger">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 ">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook p-4"></i></a>
          <!-- Twitter -->
          <a href="https://www.twitter.com" target="_blank"> <i class="bi bi-twitter p-4"></i></a>
          <!-- Whatsapp-->
          <a href="https://www.whatsapp.com" target="_blank"><i class="bi bi-whatsapp p-4"></i></a>
          <!--Youtube -->
          <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube p-4"></i></a>
          <!--Instagram-->
          <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram p-4"></i></a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">the inside</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <a href="http://localhost:4000/menu">Menu</a>
      </p>
      <p>
        <a href="http://localhost:4000/events">Events</a>
      </p>
      <p>
        <a href="http://localhost:4000/galleries">Galleries</a>
      </p>
      <p>
        <a href="#about">About</a>
      </p>
      <p>
        <a href="http://localhost:4000">Home</a>
      </p>
    </div>
    <!-- Grid column -->
   
    
    
    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Opening Hours</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    
      <p>
        Sun 4:00pm-9:00pm
      </p>
      <p>
        Mon-Tue 10:45am-2:00pm 4:30pm-10:00pm
      </p>
      
      <p>
        Wed-Thu 10:45am-2:00pm 4:30pm-9:00pm
      </p>
      <p>
        Fri-Sat 11:45am-2:00pm 4:30pm-10:00pm
      </p>
      

    </div>
    <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="bi bi-house-fill"></i></i> New York, NY 10012, US</p>
        <p>
          <i class="bi bi-envelope-fill"></i> info@example.com</p>
        <p>
          <i class="bi bi-telephone-fill"></i> + 01 234 567 88</p>
        <p>
          <i class="bi bi-printer-fill"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://theinsidefood.com"target="_blank">theinsidefood.com</a>
    <p class="fw-light text-danger" style="font-size: small;opacity: .6;"><a href="tel:0501336536">Design by Orionty</p></a> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


<script type="module" src="./js/bootstrap.min.js"></script>
<script src="./js/index.js"></script>
  </body>
</html>